@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    /* --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%; */
    --scorecard-ring: 210 40% 96.1%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    /* --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%; */

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

.title {
  view-transition-name:title-move
}

.league-table {
  view-transition-name:league-table-move
}

.prizewinners {
  view-transition-name:prizewinners-move
}

.ballsdeep {
  view-transition-name:ballsdeep-move
}

.bigsticks {
  view-transition-name:bigsticks-move
}

.bogeyboys {
  view-transition-name:bogeyboys-move
}

.eurekas {
  view-transition-name:eurekas-move
}

.lostballs {
  view-transition-name:lostballs-move
}

.regularflex {
  view-transition-name:regularflex-move
}

.shanksandbighook {
  view-transition-name:shanksandbighook-move
}

.swingers {
  view-transition-name:swingers-move
}

.twoballers {
  view-transition-name:twoballers-move
}

.entrant1 {
  view-transition-name:entrant1-move
}
.entrant2 {
  view-transition-name:entrant2-move
}
.entrant3 {
  view-transition-name:entrant3-move
}
.entrant4 {
  view-transition-name:entrant4-move
}
.entrant5 {
  view-transition-name:entrant5-move
}
.entrant6 {
  view-transition-name:entrant6-move
}
.entrant7 {
  view-transition-name:entrant7-move
}
.entrant8 {
  view-transition-name:entrant8-move
}
.entrant9 {
  view-transition-name:entrant9-move
}
.entrant10 {
  view-transition-name:entrant10-move
}

.entrant11 {
  view-transition-name:entrant11-move
}
.entrant12 {
  view-transition-name:entrant12-move
}
.entrant13 {
  view-transition-name:entrant13-move
}
.entrant14 {
  view-transition-name:entrant14-move
}
.entrant15 {
  view-transition-name:entrant15-move
}
.entrant16 {
  view-transition-name:entrant16-move
}
.entrant17 {
  view-transition-name:entrant17-move
}
.entrant18 {
  view-transition-name:entrant18-move
}
.entrant19 {
  view-transition-name:entrant19-move
}
.entrant20 {
  view-transition-name:entrant20-move
}
.entrant21 {
  view-transition-name:entrant21-move
}
.entrant22 {
  view-transition-name:entrant22-move
}
.entrant23 {
  view-transition-name:entrant23-move
}
.entrant24 {
  view-transition-name:entrant24-move
}
.entrant25 {
  view-transition-name:entrant25-move
}
.entrant26 {
  view-transition-name:entrant26-move
}
.entrant27 {
  view-transition-name:entrant27-move
}
.entrant28 {
  view-transition-name:entrant28-move
}
.entrant29 {
  view-transition-name:entrant29-move
}
.entrant30 {
  view-transition-name:entrant30-move
}
.entrant31 {
  view-transition-name:entrant31-move
}
.entrant32 {
  view-transition-name:entrant32-move
}
.entrant33 {
  view-transition-name:entrant33-move
}
.entrant34 {
  view-transition-name:entrant34-move
}
.entrant35 {
  view-transition-name:entrant35-move
}
.entrant36 {
  view-transition-name:entrant36-move
}
.entrant37 {
  view-transition-name:entrant37-move
}
.entrant38 {
  view-transition-name:entrant38-move
}
.entrant39 {
  view-transition-name:entrant39-move
}
.entrant40 {
  view-transition-name:entrant40-move
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

